{{md-text text="
### Models
The models include fields that correspond to input fields from the admin interface as well as computed attributes that are useful for the client context.

Below is a reference for all the fields made available on the client.
"}}

<ul>
  {{#each model.fields as |field|}}
  <li>
    {{field}}
    {{code-snippet name=(concat field "-fields.js")}}
  </li>
  {{/each}}
</ul>
