{{md-text text="
The components in this addon can be grouped according to the kind of publisher object they represent.
"}}
<ul>
  <li>{{link-to 'Story Components' 'components.stories'}}</li>
  <li>{{link-to 'Stream Components' 'components.streams'}}</li>
  <li>{{link-to 'Listing Page Components' 'components.listing-pages'}}</li>
</ul>
