<h3>Stories</h3>
<ul>
  <li><code>{{link-to 'story-tease' 'components.stories.story-tease'}}</code></li>
  <li><code>{{link-to 'story-comments' 'components.stories.story-comments'}}</code></li>
  <li><code>{{link-to 'related-stories' 'components.stories.related-stories'}}</code></li>
</ul>

{{outlet}}
