<h3>Stream Components</h3>
{{md-text text="These components are all associated with the `stream` model and render different types fo metadata associated with `stream`s."}}

<ul>
  <li><code>{{link-to 'stream-list' 'components.streams.stream-list'}}</code></li>
  <li><code>{{link-to 'stream-playlist' 'components.streams.stream-playlist'}}</code></li>
</ul>

{{outlet}}
