<h3>Utility Components</h3>
{{md-text text="These components make it easier to use data that comes off of certain models."}}

<ul>
  <li><code>{{link-to 'active-html' 'components.utility.active-html'}}</code></li>
</ul>

{{outlet}}
