@import "nypr-ui/site-chrome";
@import "nypr-publisher-lib";

.language-javascript {
  display: block;
  background-color: #f8f8f8;
  padding: 0.5em;
  color: #333;
  overflow-x: auto;
}

.site-title {
  font-size: 14px;
  padding: 0 12px;
  
  > a {
    color: black;
    
    &:focus,
    &:hover {
      color: #333;
    }
  }
}

.site-chrome__link > a {
  font-size: 14px;
  color: black;
    
    &:focus,
    &:hover {
      color: #333;
    }
}
