<ul>
  {{#each model.teaseList as |item|}}
  <li class="story-list-item">
    {{story-tease
      flipped=flipTease
      parentTitle=parentTitle
      isStaff=session.data.isStaff
      adminURL=adminURL
      item=item
      playContext=playContext}}
  </li>
  {{/each}}
</ul>
