.embed-button__button {
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* embed popup */
.embed-button__embed-popup {
  position: absolute;
  width: 238px;
  height: 217px;
  top: 45px;  // override these to
  left: 95px; // position the popup

  // top: 72px;
  // left: calc(50% - 119px);

  // @media #{$mq_medium-and-up} {
  //   top: 42px;
  //   left: 104px;
  // }

  background: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  /* embed popup arrow (two rotated squares) */
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 145px; // override this to adjust pointer position
    width: 20px;
    height: 20px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: white;
  }
  &:before {
    z-index: -1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  }
  &:after {
    z-index: 1;
  }
}

.embed-button__embed-header {
  margin: 19px auto 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: black;
}

.embed-button__embed-instructions {
  margin: 0 auto 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
}

.embed-button__embed-code {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  padding: 5px 23px 0 15px;
  margin: 0 15px;
  height: 127px;
  word-wrap: break-word;
  overflow-y: scroll;
  border: solid 1px rgba(136, 136, 136, 0.3);
  color: rgba(0,0,0, 0.6);
}
