.channel-sidebar-chunk > .django-content > .l-constrained {
  padding: 0;
}

.channel-logo-fixed {
    margin-top: 0px;
}

.social-group {
    margin-bottom: 1rem;
}

.channel-ad {
    margin-bottom: 50px;
}
