.story-tease {
  margin-bottom: 48px;
  color: $darkergray;
  @include fontsize(16);
  line-height: 1.7rem;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.story-tease-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story-tease__body {
  @include mq($small-and-up) {
    max-width: 590px;
  }
}

.story-tease-parent {
  color: $gray;
  @include fontsize(12);
  line-height: 1.125rem;
  margin-bottom: 5px;
}

.story-tease-parent__link {
  color: $darkergray;
  text-decoration: none;
  
  &:hover {
    color: $blue;
  }
}

.story-tease-parent__slash {
  color: $lightgray;
}

.story-tease-parent__slash:last-child {
  display: none;
}

.story-tease__body-text {
  margin-bottom: 24px;
}

.story-tease__title {
  @include fontsize(20);
  line-height: 1.5;
  transition: font-size 250ms ease,line-height 250ms ease;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  
  @include mq($medium-and-up) {
    @include fontsize(24);
    line-height: 1.425;
  }
  
  > a {
    color: $darkergray;
    text-decoration: none;
    
    &:hover {
      color: $blue;
    }
  }
}

.story-tease__image   {
  margin-left: 40px;
  
  > img {
    max-width: none;
    display: block;
  }
}

.story-tease__duration,
.story-tease__newsdate {
  @include fontsize(12);
  opacity: 0.7;
}

.story-tease__footer {
  display: flex;
  align-items: center;
  
  > * {
    margin-right: 10px;
  }
  
  > :last-child {
    margin-right: 0;
  }
}

.story-tease.full-screen {
  position: relative;
  text-align: center;
  padding: 150px 0 90px;
  height: 490px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include mq($medium-only) {
    height: 100%;
    padding: 110px 8% 30px;
  }

  .story-tease-meta {
    max-width: 650px;
    width: 100%;
  }
}

.story-tease-floating-header {
  text-align: left;
  position: absolute;
  top: 25px;

  @include mq($small-only) {
    width: 90%;

    .flag {
      display: flex;
      align-items: center;
      justify-content: center;

      &-body {
        width: auto;
      }
    }

    .squarebadge {
      width: 50px;
      height: 50px;
    }
  }
}

.story-tease--flipped {
  .h2 {
    font-weight: normal;
  }
}
