<h1 class="index-header"><code>nypr-publisher-lib</code></h1>
{{md-text text="
This addon provides a set of components, models, adapters, serializers, and services that integrate with the publisher back end.

## Install

Add this addon to your Ember app:

```shell
$ yarn add nypublicradio/nypr-publisher-lib
```

## Setup
Define these config values in your Ember app:
- `webRoot`: The domain root of your Publisher web backend instance, i.e. the demo or dev address, or the live production address.
  - default: `''`
- `adminRoot`: The domain of the Publisher admin interface.
  - default: `''`
- `publisherAPI`: The full domain and path prefix for the Publisher API.
  - default: `''`
- `platformEventsAPI`: The full domain and path prefix for the platform events microservice.
  - default: `''`
"}}
