{{md-text text="
## Models, Adapters, and Serializers

This library provides ember-data interfaces to objects managed and published via the [publisher django app](https://github.com/nypublicradio/publisher). For the most part these are available at REST endpoints that follow the JSON:API spec, but a few response in ad-hoc formats that don't follow a known spec.
"}}
<p>
  For more information about publisher's REST endpoints, please <a href="http://docs.nyprpublisher.apiary.io" target="_blank">go to the API docs</a>.
</p>

<ul>
  <li>{{link-to 'Models' 'mas.models'}}</li>
  <li>{{link-to 'Adapters' 'mas.adapters'}}</li>
</ul>

{{outlet}}
